<div id="container">
	<div id="header">
		<h1><%= link_to "Ruby Blog", posts_path %></h1>
	</div>

	<div id="main">
		<div id="content">
			<div class="post">
				<h2 class="headings"><%= @post.title %></h2>
				
				<p class="paragraph"><%= @post.body %></p> 			
				
				<div class="post-info">
					<ul>
						<li class="date"><%= @post.created_at.strftime("%b %d. %Y") %></li>
						
						<li class="category">Posted in 
							<% cat = Category.find_by(id: @post.category_id) %>
							<%= link_to cat.name, cat %>
						</li>
					</ul>
				</div>
			</div>
			
		</div>
		
		<div id="side">

			<h3>Categories</h3>

			<ul id="categories">			
				<% @categories.each do |category| %>
  					<li> <%= link_to category.name, category %> </li>
				<% end %>	
			</ul>			
						
		</div>
	
	</div>

	<div id="footer">		
		<p class="back"><a href="#">Back to top</a></p>
	</div>

</div>